body {
    background-color: #eee;
    display: flex;
}

body div {
    /* Ambos div ocupan el maximo de expacio dentro de la aplicación */
    flex-grow: 1;
    background-color: #fff;
    margin: 5px;
    margin-top: 0px;
    border: solid #ff6347 3px;
}

body div:first-child {
    margin-left: 0px;
}

#orders {
    margin-right: 0px;
}

ul {
    list-style-type: none;
}

form #order {
    display: flex;
    justify-content: flex-end;
}

.form-title {
    color: #ff6347;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.input {
    border: 1px solid #ff6347;
    height: 20px;
}

::placeholder {
    color: #eba0ac;
    font-size: 1em;
    font-style: italic;


}

.login-form {
    margin-left: 5px;
    margin-bottom: 5px;
}

#submit {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 15px;
    border: solid 0px;
    border-radius: 25px;
    margin: 15px;
    margin-right: 55px;
}

#submit:hover {
    cursor: pointer;
    background-color: #2dcf42;
}

#submit:disabled {
    background-color: #ccc;
}

#meals-list li {
    cursor: pointer;
}

.selected {
    background-color: #eee;
    ;
}

h3 {
    margin: 15px;
}
